html
	font 62.5% 'Helvetic Neue', Arial, sans

body
	background #3C495D
	color #FFF
	font-size 1.2rem

h1
	font-size 2rem
	font-weight lighter
	
article
	margin 10px

@media (min-width: 600px)
	article
		width 600px
		margin 40px auto